@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

/* input.Search {
    height: 30px;
    width: 350px;
    float: left;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 150px;
    font-family: "Patrick Hand", cursive;
    font-size: medium;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid rgba(216, 213, 213, 0.993);
    padding-left: 10px;
    position: relative;
}

input.Search:focus,
input.Search:hover {
    border: 2px solid black;
} */

/* div.SButton {
    float: right;
    margin-right: 580px;
    margin-top: 80px;
    margin-bottom: 15px;
}

.SearchBar {
    width: 98%;
    position: absolute;
} */

.managerList,
.employeeList,
.traineeList {
    list-style-type: none;
}

.displayResults {
    margin-top: 3%;
    margin-left: 25%;
    position: absolute;
    width: 70%;
    font-family: sans-serif;
}


img {
    border-radius: 10px;
}

.arrow {
    width: 5%;
    height: 5%;
}


.Logo {
    float: left;
}

.manEmployees {
    margin-left: 7%;
}

.managerChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #c12127;
    color: white;

}

.managerChip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.empChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #bc6a00;
    color: white;

}

.empChip img {  
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.traineeChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #8f9299;
    color: white;

}


.traineeChip img {
    float: left;
     margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.select {
    width: 200px;
}

select {
    width: 100%;
    height: 30px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    padding: 0 20px;
    line-height: 30px;
}

.select:before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 6px;
}

h1{
    color: #ffffff;
    text-decoration: underline;
    font-size: 120%;

}

h2{
    display: none;

}