.managerList,
.employeeList,
.traineeList {
    list-style-type: none;
}
.displayResults {
    margin-top: 3%;
    margin-left: 4%;
    position: absolute;
    width: 60%;
    font-family: sans-serif;
}

img {
    border-radius: 10px;
}

.arrow {
    width: 5%;
    height: 5%;
}

.Logo {
    float: left;
}

.manEmployees {
    margin-left: 7%;
}

.managerChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #c12127;
    color: white;
}
.managerChip:hover{
    cursor: pointer;
}

.managerChip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.empChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #bc6a00;
    color: white;
}

.empChip2 {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #bc6a00;
    color: white;
}

.empChip2:hover{
    cursor: pointer;
}
.empChip2 img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.empChip img {  
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.traineeChip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    background-color: #8f9299;
    color: white;
}
.traineeChip img {
    float: left;
     margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.select {
    width: 200px;
}

select {
    width: 100%;
    height: 30px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    padding: 0 20px;
    line-height: 30px;
}

.select:before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 6px;
}

h1{
    color: #ffffff;
    text-decoration: underline;
    font-size: 130%;
}

h2{
    color: #ffffff;
}