.filters {
    margin-top: -10%;
}
.search {
    background-color: white;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    height: 23px;
    width: 25%;
    margin-bottom: -90%;
    margin-left: 15%;
    position: absolute;
}

.roleSelectorBlock {

    width: 18%;
    height: 20%;
    margin-top: -4%;
    margin-left: 50%;
    position: relative;
}

.roleSelector {
    border-radius: 10px;
    width: 50%;
    height: 20%;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}
.dateSelectorBlock {
    top: 47%;
    left: 72%;
    width: 20%;
    height: 25%;
    position: absolute;
  
}
.dateSelector{
    right: 8%;
    top: 5%;
    border-radius: 10px;
    width: 50%;
    height: 20%;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.salarySlider {
    position: absolute;
    width: 7.5%;
    height: 7.5%;
    margin-top: 2%;
    margin-left: 47.5%;
}

.calendar {
    position: relative;
    width: 30%;
    height: 0.5%;
    margin-top: -7.0%;
    margin-left: 70%;
    border-radius: 25px;
}
.calendarText
{
    margin-top: 2%;
    margin-left: 84%;
    width: 10%;
}

.buble {
    position: relative;
}
b {
    color: #ffffff;
}