@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  padding: 2rem 2rem 1rem;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #2a333c;
}

img {
  position: relative;
  height: 120px;
  width: 120px;
}